* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;   /* largura total da tela */
    height: 100vh;  /* altura total da tela */
    background-color: rgb(0, 0, 0);
}

.cabeca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px; /* espaço entre Login e Spotify */
    font-size: 1.5rem;
}

.login {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Verde icônico do Spotify */
    min-width: 200px;
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    transition: all 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.login:hover {
    background-color: #ffffffd5; /* Um verde mais claro no hover */
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.whatsapp {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: #6bee51e7; /* Verde icônico do Spotify */
    min-width: 200px;
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    transition: all 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.whatsapp:hover {
    background-color: #6bee51d0; /* Um verde mais claro no hover */
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.spotify {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: #1DB954; /* Verde icônico do Spotify */
    min-width: 200px;
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.spotify:hover {
    background-color: #1ed760; /* Um verde mais claro no hover */
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.spotify:active {
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}